.Navbar{
    top:0;
    left : 0;
    /* opacity : 0.9; */
     display: flex;
    align-items: center;

    padding: 10px 10px;

    position : fixed;
    width: 100%;
    z-index: 100;
}
.Navbar.scrolled {
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.02);
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    transition: background 0.3s ease, box-shadow 0.3s ease;
}